/* .curved {
  position: relative;
  background: #3F3D56;
  height: 100%;
  border-bottom-left-radius: 50% 26%;
  border-bottom-right-radius: 50% 26%;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* #3F3D56 */ /* #FF754E */
#2E465E body,
* {
  font-family: "Poppins", sans-serif !important;
}
.pattern {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scrollable-section {
  height: calc(100vh - 72px - 32px - 80px);
  flex: 2;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-section::-webkit-scrollbar {
  display: none;
}
.non-scrollable-section {
  height: calc(100vh - 72px - 32px - 80px);
  flex: 1;
}

.glass {
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  background-color: rgba(10, 10, 10, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.2);
}

.image-list-container {
  width: 100%; /* Adjust width as needed */
  overflow-x: scroll; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks within the list */
}

.image-list {
  display: flex; /* Arrange images horizontally */
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.image-list li {
  margin-right: 10px; /* Add spacing between images */
}

.image-list img {
  width: 200px; /* Adjust image width as needed */
  height: auto;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 24px;
  background: #222222;
}

.swiper-slide img {
  /* width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%; */
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

.gm-ui-hover-effect {
  display: none !important;
}
.gm-style-iw-c,
.gm-style-iw-d {
  padding: 0 !important;
  overflow: auto !important;
}
